<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Technical Assessment Suite">
    <test name="Regression Tests">
        <classes>
            <class name="tests.NewClientTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->